<div class="py-2">
  <h5 class="card-title fw-bold">3. Démarrez JSON Server :</h5>
  <p class="card-text">
    Dans le répertoire où se trouve votre fichier db.json, lancez JSON
    Server en exécutant la commande suivante dans votre terminal :
  </p>
  <div class="card-text">
    <pre>
      <code class="language-nginx">
        json-server --watch db.json
      </code>
    </pre>
  </div>
  <p class="card-text">
    Cela démarrera un serveur local avec une API REST simulée à l'adresse <span class="fw-bold">http://localhost:3000</span>
  </p>
</div>