<div class="py-2">
  <h5 class="card-title">
    {{ titreAccolade }}
  </h5>
  <p class="card-text">
    {{ definitionAccolade }}
    permettent d'<span class="fw-bold"
      >insérer des valeurs de propriétés ou des expressions TypeScript
      directement dans le contenu HTML</span
    >. Cela permet d'afficher dynamiquement des données dans le template.
  </p>
  <p class="card-text">
    Par exemple, si vous avez une propriété
    <span class="fw-bold">nom</span> dans votre composant TypeScript, vous
    pouvez l'afficher dans le template HTML comme ceci :
  </p>

  <div class="card-text">
    <p class="fw-bold">TYPESCRIPT:</p>
    <pre>
      <code>
        {{definitionAccoladeCodeTypescript}}
      </code>
    </pre>

    <p class="fw-bold">HTML:</p>
    <pre>
      <code>
        {{definitionAccoladeCodeHTML}}
      </code>
    </pre>
  </div>
</div>
