<div class="py-5">
  <button class="btn btn-primary py-2 px-3" (click)="goBack()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
</div>

<div class="row">
  <div class="col-lg-6 m-auto">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Modifier un user</h5>
      </div>
      <form>
        <div class="card-body">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Nom</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Nom..."
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Prénom</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Prénom..."
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Sexe:</label
            >
            
            <select name="" id="" class="form-control">
              <option value="Homme">Homme</option>
              <option value="Femme">Femme</option>
              <option value="Autres">Autres</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Nom d'utilisateur</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Nom d'utilisateur..."
            />
          </div>

          

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Email..."
            />
            
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Mot de passe</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Mot de passe..."
            />
          </div>
          
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Valider</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
