<div class="pb-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title fw-bold">Setup JSON Server</h5>
    </div>
    <div class="card-body p-5">
      <app-setup-json-server-installer-json-server></app-setup-json-server-installer-json-server>

      <app-setup-json-server-installer-creer-fichier></app-setup-json-server-installer-creer-fichier>

      <app-setup-json-server-installer-demarrer-server></app-setup-json-server-installer-demarrer-server>
    </div>
  </div>
</div>
