<div class="py-2">
  <h5 class="card-title fw-bold">3. Liaison d'événement avec les parenthèses () :</h5>
  <p class="card-text">
    Les parenthèses (()) permettent de
    <span class="fw-bold">lier des événements HTML</span>, comme les clics de
    souris ou les soumissions de formulaires, à des méthodes du composant
    TypeScript. Par exemple, si vous souhaitez appeler une méthode ouvrirModal()
    lorsque l'utilisateur clique sur un bouton, vous pouvez le faire comme ceci
    :
  </p>

  <div class="card-text">
    <p class="fw-bold">TYPESCRIPT:</p>
    <pre>
      <code>
        {{codeBlockTypescript}}
        </code>
    </pre>

    <p class="fw-bold">HTML:</p>
    <pre>
      <code>
        {{codeBlockHTML}}
        </code>
    </pre>
  </div>
</div>
