<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Accueil</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Notes
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="nav-link"
                routerLink="/notes/addNote"
                routerLinkActive="active"
                >Ajouter une note</a
              >
            </li>
            <li>
              <a
                class="nav-link"
                routerLink="/notes/listeNote"
                routerLinkActive="active"
                >Liste Note</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/api-example" routerLinkActive="active"
            >API Example</a
          >
        </li>

        
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="navbar">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/notes/listeNote" routerLinkActive="active">Liste Note</a>
    </li>
    <li>
      <a routerLink="/notes/addNote" routerLinkActive="active">Add note</a>
    </li>
  </ul>
</div> -->
