<!-- EVENTS -->
<div class="pb-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title fw-bold">II - Events</h5>
    </div>
    <div class="card-body">
      <div class="py-2">
        <h2>Click welcome</h2>
        <button class="btn btn-primary" (click)="welcome()">Welcome</button>
      </div>

      <div class="py-2">
        <h2 [class.red]="isRed">Click switch Background Color</h2>
        <h5 class="pb-2">
          <span
            [class]="
              switchClass ? 'badge text-bg-danger' : 'badge text-bg-secondary'
            "
            >some text for our page</span
          >
        </h5>
        <button class="btn btn-danger" (click)="change()">
          Switch Background Color
        </button>
      </div>

      <!-- Button trigger modal -->
      <button
        type="button"
        id="welcomeModal"
        class="btn btn-primary d-none"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Launch demo modal
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered border-radius-0">
          <div class="modal-content" style="border-radius: 0">
            <div class="modal-header">
              <h5 class="modal-title">Welcome modal</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body">
              <h1>Welcome!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EVENTS -->
