<div class="py-2">

  <h5 class="card-title fw-bold">3. Le dossier d'un composant</h5>

  <div class="text-center py-5">
    <img
      src="assets/img/Angular_component.png"
      alt=""
      style="max-width: 300px"
    />
  </div>

  <p class="card-text">
    Chaque dossier de composants est composé d'un fichier
    <span class="fw-bold">.css</span>, <span class="fw-bold">.html</span>,
    <span class="fw-bold">.spec.ts</span> et
    <span class="fw-bold">.ts</span>
  </p>

  <p class="card-text">
    Le <span class="fw-bold">.css</span> contient les styles (css) qui seront
    appliqué au <span class="fw-bold">.html</span>
  </p>

  <p class="card-text">
    Le <span class="fw-bold">.html</span> contient la vue (template) du
    composant. Elle communique avec le <span class="fw-bold">.ts</span>
  </p>

  <p class="card-text">
    Le <span class="fw-bold">.ts</span> contient la logique du composant (appel
    de API, variables, redirection, fonctions, évènements etc...). Elle
    communique avec le <span class="fw-bold">.html</span>
  </p>
</div>
