<div class="pb-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title fw-bold">Setup</h5>
    </div>
    <div class="card-body p-5">

      <app-setup-installer-angular></app-setup-installer-angular>

      <app-setup-creer-projet></app-setup-creer-projet>

      <app-setup-executer-application></app-setup-executer-application>

      <app-setup-mise-en-place-routing></app-setup-mise-en-place-routing>

      <app-setup-component-parent-enfant></app-setup-component-parent-enfant>

      <app-setup-creer-service></app-setup-creer-service>

      <app-setup-creer-component></app-setup-creer-component>

      <app-setup-creer-module></app-setup-creer-module>

    </div>
  </div>
</div>
