<div class="py-2">
  <h5 class="card-title fw-bold">3. Exécuter l'application</h5>
  <p class="card-text">Pour exécuter un projet angular il faut faire:</p>

  <div class="card-text">
    <pre>
      <code class="language-nginx">
        {{ "ng serve --open" }}
      </code>
    </pre>
  </div>

  <p class="card-text">
    S'il y a une erreur c'est probablement qu'il faut installer les package de
    <span class="fw-bold">package.json</span> en faisant:
  </p>
  <div class="card-text">
    <pre><code class="language-nginx">
      {{ "npm install" }}
    </code></pre>
  </div>
</div>
