<!-- STRUCTURE DE FICHIER -->
<div class="pb-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title fw-bold">Structure de fichier</h5>
    </div>
    <div class="card-body p-5">
      
      <app-structure-fichier-src></app-structure-fichier-src>

      <app-structure-fichier-app></app-structure-fichier-app>

      <app-structure-fichier-composant></app-structure-fichier-composant>

      <app-structure-fichier-components></app-structure-fichier-components>

      <app-structure-fichier-pages></app-structure-fichier-pages>

      <app-structure-fichier-routes></app-structure-fichier-routes>

      <app-structure-fichier-services></app-structure-fichier-services>

      <app-structure-fichier-interface></app-structure-fichier-interface>

      <app-structure-fichier-modules></app-structure-fichier-modules>

    </div>
  </div>
</div>
<!-- END STRUCTURE DE FICHIER -->
