<div class="py-2">
  <h5 class="card-title fw-bold">2. Liaison de propriété avec les crochets [] :</h5>
  <p class="card-text">
    Les crochets ([]) permettent de
    <span class="fw-bold">
      lier des propriétés d'éléments HTML à des propriétés ou expressions du
      composant TypeScript </span
    >. Par exemple, si vous avez une propriété
    <span class="fw-bold"> urlImage </span> dans votre composant TypeScript et
    que vous souhaitez lier cette propriété à la source d'une balise
    <img /> dans le template HTML, vous pouvez le faire comme ceci :
  </p>

  <div class="card-text">
    <p class="fw-bold">TYPESCRIPT:</p>
    <pre>
      <code class="language-typescript">
        {{codeBlockTypescript}}
        </code>
    </pre>

    <p class="fw-bold">HTML:</p>
    <pre>
      <code>
        {{codeBlockHTML}}
        </code>
    </pre>
  </div>
</div>
