.myNotes{
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 35px;
}
.myNotes h1{
  background-color: yellow;
  border-top: 1px solid;
  padding: 15px;
}
.cardContainer{
  display:flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  min-width: 300px;
  border-radius: 20px;
  margin: 15px;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}