<!-- REACTIVE FORM -->
<div class="pb-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title">Reactive Form Module</h5>
    </div>
    <div class="card-body">
      <div class="py-2">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Type example</h5>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="inputPassword5" class="form-label">Name:</label>
              <input
                type="text"
                id="inputPassword5"
                class="form-control"
                aria-describedby="passwordHelpBlock"
                [formControl]="newName"
                name="newName"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="py-2">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Submit example</h5>
          </div>
          <div class="card-body">
            <form (ngSubmit)="newShowName()">
              <div class="mb-3">
                <label for="inputPassword5" class="form-label">Name:</label>
                <input
                  type="text"
                  id="inputPassword5"
                  class="form-control"
                  aria-describedby="passwordHelpBlock"
                  [formControl]="newName"
                  name="newName"
                />
              </div>
              <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="py-2">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Form group</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="mb-3">
                <label for="inputPassword5" class="form-label">Username:</label>
                <input
                  type="text"
                  id="inputPassword5"
                  class="form-control"
                  aria-describedby="passwordHelpBlock"
                  formControlName="username"
                />
              </div>

              <div class="mb-3">
                <label for="inputPassword5" class="form-label">Password:</label>
                <input
                  type="password"
                  id="inputPassword5"
                  class="form-control"
                  aria-describedby="passwordHelpBlock"
                  formControlName="password"
                />
              </div>

              <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
            <p>
              Your username is "<b>{{ loginForm.value.username }}</b
              >" and your password is "<b>{{ loginForm.value.password }}</b
              >"
            </p>
          </div>
        </div>
      </div>

      <div class="py-2">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Validator</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="newLoginForm" (ngSubmit)="newLogin()">
              <div class="mb-3">
                <label for="inputPassword5" class="form-label">Username:</label>
                <input
                  type="text"
                  id="inputPassword5"
                  class="form-control"
                  aria-describedby="passwordHelpBlock"
                  formControlName="username"
                />

                @if(newLoginFormControl['username'].touched || isSubmitted){
                @if(newLoginFormControl['username'].errors?.['required']){
                <span class="text-danger">Ce champ est requis.</span>
                } }
              </div>

              <div class="mb-3">
                <label for="inputPassword5" class="form-label">Password:</label>
                <input
                  type="password"
                  id="inputPassword5"
                  class="form-control"
                  aria-describedby="passwordHelpBlock"
                  formControlName="password"
                />
                @if(newLoginFormControl['password'].touched || isSubmitted){
                  @if(newLoginFormControl['password'].errors?.['required']){
                  <span class="text-danger">Ce champ est requis.</span>
                  } }
              </div>

              <div class="mb-3">
                <!-- <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!newLoginForm.valid"
                >
                  Submit
                </button> -->
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
            <p>
              Your username is "<b>{{ newLoginForm.value.username }}</b
              >" and your password is "<b>{{ newLoginForm.value.password }}</b
              >"
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END REACTIVE FORM -->
