<!-- TEMPLATING -->
<div class="pb-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title fw-bold">Templating</h5>
    </div>
    <div class="card-body p-5">
      <p class="card-text">
        En Angular, les éléments du fichier TypeScript (ts) peuvent être
        utilisés dans le fichier HTML associé (template) en utilisant les
        fonctionnalités suivantes :
      </p>

      <app-interpolation-accolade></app-interpolation-accolade>

      <app-liaison-propriete-crochet></app-liaison-propriete-crochet>

      <app-liaison-evenement-parenthese></app-liaison-evenement-parenthese>
    </div>
  </div>
</div>
<!-- END TEMPLATING -->
