<div class="container pb-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title">Setup</h5>
    </div>
    <div class="card-body">
      <div class="py-2">
        <h6 class="fw-bold">1) Installer angular</h6>
        <p class="card-text">
          {{ "Il faut installer node. Ensuite faire " }}
          <span class="fw-bold">{{ "npm install -g @angular/cli" }}</span>
        </p>
      </div>
      <div class="py-2">
        <h6 class="fw-bold">2) Créer un projet</h6>
        <p class="card-text">
          {{ "Pour créer un projet angular il faut faire: " }}
          <span class="fw-bold">{{ "ng new nom_du_projet" }}</span>
        </p>
      </div>
      <div class="py-2">
        <h6 class="fw-bold">3) Exécuter l'application</h6>
        <p class="card-text">
          {{ "Pour exécuter un projet angular il faut faire: " }}
          <span class="fw-bold">{{ "ng serve --open" }}</span>
        </p>
        <p class="card-text">
          Si il y a une erreur c'est probablement qu'il faut installer les
          package de package.json en faisant:
          <span class="fw-bold">{{ "npm install" }}</span>
        </p>
      </div>
      <div class="py-2">
        <h6 class="fw-bold">4) Mise en place de routing</h6>
        <p class="card-text">
          {{ "Pour exécuter un projet angular il faut faire: " }}
          <span class="fw-bold">{{ "ng serve --open" }}</span>
        </p>
        <p class="card-text">
          Dans app.routing.module.ts, on définit les routes comme ceci:
        </p>
        <div class="px-5">
          <p class="card-text">
            {{ "const routes: Routes = [ " }}
          </p>
          <div class="px-5">
            <p>
              {{
                "{ path: '', title: 'Titre de la page', component: HomeComponent }, "
              }}
            </p>
            <p>
              {{
                "{ path: 'about', component: AboutComponent, children: [ { path: '', title: 'Titre de la page', component: HomeComponent } ] },"
              }}
            </p>
          </div>
          <p>{{ "];" }}</p>
        </div>
      </div>
      <div class="py-2">
        <h6 class="fw-bold">5) Component parent et enfant</h6>
        <p class="card-text">
          Pour afficher un component enfant défini grêce à children dans path de
          app.routing.module.ts dans un component parent, il faut ajouter
        </p>
        <p>
          <span class="fw-bold"
            ><{{ "router-outlet" }}><{{ "/router-outlet" }}></span
          >
          dans le html
        </p>
      </div>
      <div class="py-2">
        <h6 class="fw-bold">6) Créer un service</h6>
        <p class="card-text">
          {{ "Pour exécuter un service angular il faut faire: " }}
          <span class="fw-bold">{{
            "ng generate service nom_du_service"
          }}</span>
        </p>
        <p class="card-text">
          Un service sert à prendre des données d'API par exemple
        </p>
      </div>
      <div class="py-2">
        <h6 class="fw-bold">7) Créer un service</h6>
        <p class="card-text">
          {{ "Pour exécuter un component angular il faut faire: " }}
          <span class="fw-bold">{{
            "ng generate component nom_du_component"
          }}</span>
        </p>
        <p class="card-text">
          Il faut enlever standalone et imports dans le .ts et importer le
          component dans le module (de base: app.module.ts)
        </p>
      </div>
    </div>
  </div>
</div>
