<!-- COMPONENT INTEGRATION -->
<div class="lessonSection">
  <h1>Component integration</h1>
  <hr />
  <app-header />
  <p>Root component</p>
</div>
<!-- END COMPONENT INTEGRATION -->

<!-- EVENTS -->
<div class="lessonSection">
  <h1>Events</h1>
  <hr />

  <h2>Click welcome</h2>
  <button (click)="welcome()">Welcome</button>

  <h2>Click switch Background Color</h2>
  <p [class.red]="isRed">some text for our page</p>
  <button (click)="change()">Switch Background Color</button>
</div>
<!-- END EVENTS -->

<!-- @FOR @IF -->
<div class="lessonSection">
  <h1>{{ "@for @if" }}</h1>
  <hr />
  <app-notes-list />
</div>
<!-- END @FOR @IF -->

<!-- FORMS -->
<div class="lessonSection">
  <h1>Forms Module</h1>
  <hr />

  <h2>Type name</h2>
  <label
    >Name:
    <input type="text" [(ngModel)]="name" placeholder="Type something..." />
  </label>
  <p>You typed: "{{ name }}"</p>

  <h2>Type username and password</h2>
  <label for="">Username: </label><br />
  <input type="text" [(ngModel)]="username" /><br /><br />
  <label for="">Password: </label><br />
  <input type="password" [(ngModel)]="password" />
  <p>
    Your username is "<b>{{ username }}</b
    >" and your password is "<b>{{ password }}</b
    >"
  </p>

  <h2>Submit</h2>
  <form (ngSubmit)="showName()">
    <input type="text" [(ngModel)]="name" name="name" />
    <input type="submit" value="Submit" />
  </form>

  <h2>Form validation</h2>
  <form (ngSubmit)="showName()" #myForm="ngForm">
    <input type="text" [(ngModel)]="name" name="name" required />
    <input type="submit" value="Submit" [disabled]="!myForm.form.valid" />
    <p>
      The input's valid state is: <b>{{ myForm.form.valid }}</b> because input
      is <b>required</b>
    </p>
  </form>
</div>
<!-- END FORMS -->

<!-- REACTIVE FORM -->
<div class="lessonSection">
  <h1>Reactive Form Module</h1>
  <hr />

  <h2>Type example</h2>
  <input type="text" [formControl]="newName" name="newName" />
  <p>You typed: "{{ newName.value }}"</p>

  <h2>Submit example</h2>
  <form (ngSubmit)="newShowName()">
    <input type="text" [formControl]="newName" name="newName" />
    <input type="submit" value="Submit" />
  </form>

  <h2>Form group</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label>Username:</label><br />
    <input type="text" formControlName="username" /><br /><br />
    <label>Password:</label><br />
    <input type="text" formControlName="password" /><br /><br />
    <input type="submit" value="Submit" />
  </form>
  <p>
    Your username is "<b>{{ loginForm.value.username }}</b
    >" and your password is "<b>{{ loginForm.value.password }}</b
    >"
  </p>

  <h2>Validator</h2>
  <form [formGroup]="newLoginForm" (ngSubmit)="newLogin()">
    <label>Username:</label><br />
    <input type="text" formControlName="username" /><br /><br />
    <label>Password:</label><br />
    <input type="text" formControlName="password" /><br /><br />
    <input type="submit" value="Submit" [disabled]="!newLoginForm.valid" />
  </form>
  <p>
    Your username is "<b>{{ newLoginForm.value.username }}</b
    >" and your password is "<b>{{ newLoginForm.value.password }}</b
    >"
  </p>
</div>
<!-- END REACTIVE FORM -->

<!-- ADD NOTE FORM -->
<div class="lessonSection">
  <h1>Add note form</h1><hr>
  <app-add-note></app-add-note>
  <app-notes-list/>
</div>
<!-- END ADD NOTE FORM -->


<!-- ROUTING -->
<div class="lessonSection">
  <h1>Routing</h1><hr>
  <a routerLink="/home">Home</a>
  <span style="padding-left: 15px; padding-right: 15px;"></span>
  <a routerLink="/contacts">Contacts</a>
  <br><br>
  <button (click)="navigateToContacts()">Go to contacts</button>
  <router-outlet></router-outlet>
  
  <h2>Notes Routing</h2>
  <a routerLink="/notes/listeNote">Go to notes routing</a>
<!-- END ROUTING -->